@import '../_mixins'

.main_inner-header
    display: flex
    align-items: center
    justify-content: space-between

    color: white
    font-weight: 700
    font-size: 2.6rem

    height: 100vh

    @include for-tablet-only
        display: none

.main_inner-school
    font-family: 'Inter', sans-serif
    font-size: 4.8rem
    font-weight: 700
    color: white
    margin-top: 5.5rem

    @include for-tablet-only
        text-align: center
        font-size: 2.4rem

        padding-inline: 1.4rem

.main_inner-grid
    display: grid
    grid-template-columns: 1fr 1fr 
    
    gap: 6.6rem

    margin-top: 17.2rem

    @include for-tablet-only
        display: block
        margin-top: 10rem

    div
        background-color: white
        
        box-shadow: 0px 13px 19px 0px #00000012
        border-radius: 16px
        padding-block: 3.3rem

        display: grid
        grid-template-columns: 2ch auto
        align-items: center
        padding-inline: 3.2rem
        gap: 4rem

        color: #1B447A
        font-size: 3.2rem
        font-weight: 700

        cursor: pointer

        

        @include for-tablet-only
            padding-block: 1rem
            border-radius: 10px

            margin-inline: 1rem

            margin-bottom: 1.4rem

            font-size: 1.7rem
            grid-template-columns: .6ch auto

            svg
                width: 22px

